appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.3.1
distlib==0.3.1
Django==3.0
django-cors-headers==3.6.0
django-redis==4.12.1
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
filelock==3.0.12
idna==2.10
isort==5.6.4
itypes==1.2.0
Jinja2==3.0.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
mysql-connector==2.2.9
Pillow==8.2.0
pycparser==2.20
PyJWT==1.7.1
pylint==2.6.0
PyMySQL==0.10.1
pyserial==3.5
pytz==2020.4
qcloudsms-py==0.1.4
redis==3.5.3
requests==2.25.1
six==1.15.0
sms==0.4
sqlparse==0.4.1
tencentcloud-sdk-python==3.0.393
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.4
virtualenv==20.4.3
wrapt==1.12.1
